<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvp.foodie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASOssdMNKGno25UXyZFuLZV0KRGCc8qDM" />

        <activity android:name=".signin.SignInActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup.SignUpActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/profile">
            <intent-filter>
                <action android:name="com.example.mvp.foodie.FRIEND_CONFIRMATION_NOTIFICATION_TARGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:label="@string/editProfile" />
        <activity
            android:name=".post.NewPostActivity"
            android:label="@string/newPost" />
        <activity
            android:name=".comment.PostCommentsActivity"
            android:label="@string/comments" />
        <activity
            android:name=".post.EditPostActivity"
            android:label="@string/edit_post" />
        <activity android:name=".post.DetailPostActivity">
            <intent-filter>
                <action android:name="com.example.mvp.foodie.POST_NOTIFICATION_TARGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".interest.InterestListActivity" />
        <activity android:name=".post.AllUserPostActivity" />
        <activity android:name=".friend.FriendRequestsActivity">
            <intent-filter>
                <action android:name="com.example.mvp.foodie.FRIEND_REQUESTS_NOTIFICATION_TARGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".message.ChatFriendListActivity" />
        <activity android:name=".message.ChatActivity">
            <intent-filter>
                <action android:name="com.example.mvp.foodie.MESSAGING_NOTIFICATION_TARGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>